<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Shorten my URL</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <p>&nbsp;</p>
    </div>

    <div class="container">
      <div class="col-md-12" >
        <div class="jumbotron">
          <h1>Hello Australia</h1>
          <p>Let Bill Shorten your URL #ShortenSweet</p>
          <br/>
          <img src="http://images.smh.com.au/2014/12/02/6048601/vd-shorten-funnyface.jpg" width="99%" />
        </div>        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Shorten Me</h3>
          </div>
          <div class="panel-body">

              <div class="row">
                <div class="col-lg-12">
                    <form class="form-inline" method="post">
                      <div class="form-group"  style="width: 90%">
                        <div class="input-group"  style="width: 100%">
                          <div class="input-group-addon" style="width: 7%">http://</div>
                          <input type="text" class="form-control" name="url" id="url"  style="width: 100%" placeholder="foobar.com">
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary">Shorten Me</button>
                    </form>
                </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
