<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Shorten my URL</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
      <p>&nbsp;</p>
    </div>

    <div class="container">
      <div class="col-md-12" >
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Shorten Me</h3>
          </div>
          <div class="panel-body">
            <form method="post">
              <div class="row">
                <div class="col-lg-12">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <input type="submit" class="btn btn-default" value="Shorten!" />
                    </span>
                    <input type="text" class="form-control" name="url" id="url" placeholder="Shorten this...">
                  </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
            </form>
            <br/>
            <!-- <img src="img/vd-shorten-funnyface.jpg" width="99%" /> -->
            <img src="http://images.smh.com.au/2014/12/02/6048601/vd-shorten-funnyface.jpg" width="99%" />
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="bootstrap-3.3.6-dist/js/bootstrap.min.js"></script> -->
  </body>
</html>
